<div class="message-sender-container">
	{{input type="checkbox" id=(concat elementId "--selected") checked=message.complete class="message-select-toggle"}}
	<label for="{{elementId}}--selected"><img src="{{message.from.imageURL}}" alt="{{message.from.name}}" class="message-sender-image"></label>
</div>

<div class="message-item-content">
	<header class="message-item-header">
		<h2 class="message-from-name">{{message.from.name}}</h2>
		<dl class="message-meta">
			<dt class="visuallyhidden">Sent</dt>
			<dd><time datetime="{{moment-format message.createdAt "YY-MM-DD"}}">{{moment-from-now message.createdAt}}</time></dd>
		</dl>
		<ul class="message-actions">
			<li class="message-action">
				<button {{action onReply}}>{{svg-jar "reply"}}</button>
			</li>
		</ul>
	</header>

	<h3 class="message-subject">{{message.subject}}</h3>
	<p class="message-body">{{message.body}}</p>

	{{yield}}
</div>