<aside>
	<time datetime="{{moment-format now "YYYY-MM-DD"}}" class="task-progress-time">
		<strong class="day">{{moment-format now "DD"}}</strong>
		<span class="month">{{moment-format now "MMM"}}</span>
	</time>
</aside>

<div class="task-progress-container">
	<h2 id="{{elementId}}--progress-title" class="task-progress-heading">Today's Tasks</h2>


	<progress max="{{tasksCount}}" value="{{tasksCompletedCount}}" aria-labelledby="{{elementId}}-progress-title" class="task-progress-progress">
		{{tasksCompletedCount}} of {{tasksCount}} complete
	</progress>

	<dl class="task-progress-meta">
		<dt>Done</dt>
		<dd>{{tasksCompletedCount}}</dd>
		<dt>Must Do</dt>
		<dd>{{tasksRemainingCount}}</dd>
	</dl>

	{{yield}}
</div>