<label for="{{elementId}}-search">{{searchLabel}}</label>
{{input type="search" value=filter required=true id=(concat elementId "-search") name="filter" key-press=(action "debounceSearch" filter)}}
<button type="submit">{{svg-jar "search"}}</button>

{{yield}}