{{#if isEditing}}
	<form {{action "onSave" task on="submit"}}>
		<label for="{{concat elementId "-title"}}">Title</label>
		<Input @type="text" @id={{concat elementId "-title"}} @value={{task.title}} required={{true}} @autofocus={{true}} placeholder="TODO text here"/>
		<label for="{{concat elementId "-description"}}">Description</label>
		<Textarea @value={{task.description}} @id={{concat elementId "-description"}} @rows={{10}}/>
		<button type="submit">Add</button>
	</form>
{{else}}
	{{#if hasTitle}}
		<h2 class="task-title">
			<label for="{{concat elementId "-edit"}}">
				{{#if task.complete}}
					<del>{{task.title}}</del>
				{{else}}
					{{task.title}}
				{{/if}}
			</label>
		</h2>
	{{/if}}
	{{#if hasDueDate}}
		<dl class="task-meta">
			<dt>Due</dt>
			<dd><span class="task-due-date">{{moment-from-now task.dueDate}}</span></dd>
		</dl>
	{{/if}}
	{{#if hasDescription}}
		<p class="task-description">{{task.description}}</p>
	{{/if}}
{{/if}}

<ul class="task-actions" role="menubar">
	<li class="task-action">
		<label for="{{concat elementId "-complete"}}">{{svg-jar "checkmark"}}</label>
		<Input @type="checkbox" @id={{concat elementId "-complete"}} @checked={{task.complete}}/>
	</li>
	<li class="task-action">
		<button>{{svg-jar "chat-bubble-dots"}}</button>
	</li>
	<li class="task-action">
		<label for="{{concat elementId "-edit"}}">{{svg-jar "edit-pencil"}}</label>
		<Input @type="checkbox" @id={{concat elementId "-edit"}} @checked={{isEditing}}/>
	</li>
	<li class="task-action">
		<button>{{svg-jar "edit-copy"}}</button>
	</li>
</ul>

{{yield}}