<h2>{{title}}</h2>

{{#each startDates as |filterDate|}}
	<label for="{{filterDate}}">{{moment-from-now filterDate}}</label>
	<Input @type="radio" @value={{filterDate}} @name="active-filter" @id={{filterDate}} @change={{action "setFilterDate" filterDate}}/>
{{/each}}

<br>
<ol class="tasks">
	{{#each sortedFilteredTasks as |task|}}
		<li class="task">
			<TaskItem @task={{task}} @onSave={{onSaveTask}}/>
		</li>
	{{/each}}
</ol>

{{yield}}
