<label for="{{concat elementId "-complete"}}">{{todo.title}}</label>
{{input type="checkbox" id=(concat elementId "-complete") checked=todo.complete}}
<label for="{{concat elementId "-title"}}">Task Title</label>
{{input type="text" id=(concat elementId "-title") value=todo.title required=true placeholder="TODO text here"}}
<label for="{{concat elementId "-description"}}">Description</label>
{{textarea id=(concat elementId "-description")}}
{{yield}}