<article class="task-progress" ...attributes>
	<time datetime={{moment-format now "YYYY-MM-DD"}} class="task-progress-date">
		<strong class="day">{{moment-format now "DD"}}</strong>
		<span class="month">{{moment-format now "MMM"}}</span>
	</time>
	<section class="task-progress-by-today">
		<h2 class="task-progress-heading">Today's Tasks</h2>

		<progress class="task-progress-progress" max="{{this.tasksCount}}" value="{{this.tasksCompletedCount}}" aria-labelledby="{{this.elementId}}-progress-title">
			{{this.tasksCompletedCount}} of {{this.tasksCount}} complete
		</progress>

		<dl class="task-progress-meta">
			<dt>Done</dt>
			<dd>{{this.tasksCompletedCount}}</dd>
			<dt>Must Do</dt>
			<dd>{{this.tasksRemainingCount}}</dd>
		</dl>

		{{yield}}
	</section>
</article>
