<aside class="task-timeline">
	<h2>{{this.title}}</h2>

	{{#each this.startDates as |filterDate|}}
		<label for="{{filterDate}}">{{moment-from-now filterDate}}</label>
		<Input @type="radio" @value={{filterDate}} @name="active-filter" @id={{filterDate}} @change={{mut this.setFilterDate filterDate}}/>
	{{/each}}

	<br>
	<ol class="tasks">
		{{#each this.sortedFilteredTasks as |task|}}
			<li class="task">
				<TaskItem @task={{task}} @onSave={{@onSaveTask}}/>
			</li>
		{{/each}}
	</ol>

	{{yield}}
</aside>
