<article class="task-item
	{{if this.hasTitle " has-title"}}
	{{if this.hasDueDate " has-due-date"}}
	{{if this.hasDescription " has-description"}}
	{{if this.isEditing " is-editing"}}">
	{{#if this.isEditing}}
		<form>
			<fieldset>
				<legend>Basic Information</legend>
				<FormField @model={{@task}} @field="title" @required={{true}}/>
				<FormField @model={{@task}} @field="description"/>
			</fieldset>
			<fieldset>
				<legend>Due Date</legend>
				<FormField @model={{this}} @field="hasFlexibleDueDate" @labelText="Flexible Due Date"/>

				{{#if this.hasFlexibleDueDate}}
					<label for="{{this.elementId}}-applicable-days">Applicable Days</label>
					<ol class="day-select">
						{{#each this.dueDateByDays as |day|}}
							<li class="day-option">
								<div class="form-field">
									<FormField @model={{day}} @field="selected" @type="checkbox" @labelText={{day.day}}/>
									{{#if day.selected}}
										<FormField @model={{get this.args.task.dueDateByDays day.day}} @field="startTime" @max={{get (get this.args.task.dueDateByDays day.day) "endTime"}} @required={{true}} @labelText="From"/>
										<FormField @model={{get this.args.task.dueDateByDays day.day}} @field="endTime" @min={{get (get this.args.task.dueDateByDays day.day) "startTime"}} @required={{true}} @labelText="To"/>
									{{/if}}
								</div>
							</li>
						{{/each}}
					</ol>
				{{else}}
					<FormField @model={{@task}} @field="dueDate" @min={{this.todayDate}} @labelText="Due Date"/>
				{{/if}}
			</fieldset>
			{{#if @tasks.length}}
				<fieldset>
					<legend>Related Task</legend>
					<p>If this task requires another task to be completed before it.</p>
					<label for="{{this.elementId}}-depends-on">Depends on</label>
					<select id="{{this.elementId}}-depends-on" {{on "change" fn (mut @task.relatedTask) this.relatedTask}}>
						{{#each @tasks as |task|}}
							<option value={{task.id}}>{{task.name}}</option>
						{{/each}}
					</select>
				</fieldset>
			{{/if}}
		</form>
	{{else}}
		{{#if this.hasTitle}}
			<h2 class="task-title">
				<label for="{{this.elementId}}-edit">
					{{#if @task.complete}}
						<del>{{@task.title}}</del>
					{{else}}
						{{@task.title}}
					{{/if}}
				</label>
			</h2>
		{{/if}}
		{{#if this.hasDueDate}}
			<dl class="task-meta">
				<dt>Due</dt>
				<dd><span class="task-due-date">{{moment-from-now @task.dueDate}}</span></dd>
			</dl>
		{{/if}}
		{{#if this.hasDescription}}
			<p class="task-description">{{@task.description}}</p>
		{{/if}}
	{{/if}}

	<ul class="task-actions" role="menubar">
		<li class="task-action">
			<label for="{{concat this.elementId "-complete"}}">{{svg-jar "checkmark"}}</label>
			<Input @type="checkbox" @id={{concat this.elementId "-complete"}} @checked={{@task.complete}} {{on "blur" this.onSave}}/>
		</li>
		<li class="task-action">
			<button>{{svg-jar "chat-bubble-dots"}}</button>
		</li>
		<li class="task-action">
			<label for="{{concat this.elementId "-edit"}}">{{svg-jar "edit-pencil"}}</label>
			<Input @type="checkbox" @id={{concat this.elementId "-edit"}} @checked={{this.isEditing}}/>
		</li>
		<li class="task-action">
			<button>{{svg-jar "edit-copy"}}</button>
		</li>
	</ul>

	{{#if @task.tasks.length}}
		<ol class="task-tasks">
			{{#each @task.tasks as |task|}}
				<li class="task-item-container">
					<TaskItem @task={{task}} @onSave={{@onSave}}/>
				</li>
			{{/each}}
		</ol>
	{{/if}}
	{{yield}}
</article>