<nav role="navigation" class="sidebar">
	{{#if session.currentUser}}
		<figure class="user-container">
			{{#if session.currentUser.imageURL}}
				<img src="{{session.currentUser.imageURL}}" alt="{{session.currentUser.name}}" class="user-avatar is-online" height="70">
			{{else}}
				{{svg-jar "user" class="user-avatar" height=60}}
			{{/if}}
			<figcaption>
				<strong class="user-name">{{session.currentUser.name}}</strong>
				{{#if session.currentUser.role}}
					<span class="user-role">{{session.currentUser.role}}</span>
				{{/if}}
			</figcaption>
		</figure>
	{{/if}}

	<ul class="nav-items">
		<li class="nav-item">
			{{#link-to "inbox" class="nav-item-link"}}
				{{svg-jar "inbox"}}
				<span class="nav-item-text">Inbox</span>
			{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to "inbox" (query-params fromDate=(format-date today)) class="nav-item-link"}}
				{{svg-jar "calendar"}}
				<span class="nav-item-text">Today</span>
			{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to "inbox" (query-params fromDate=(format-date today) endDate=(format-date nextWeek)) class="nav-item-link"}}
				{{svg-jar "folder"}}
				<span class="nav-item-text">Next 7 Days</span>
			{{/link-to}}
		</li>
	</ul>
</nav>