<nav role="navigation" class="sidebar">
	{{#if session.currentUser}}
		<figure class="user-container">
			{{#if session.currentUser.imageURL}}
				<img src="{{session.currentUser.imageURL}}" alt="{{session.currentUser.name}}" class="user-avatar is-online" height="70">
			{{else}}
				{{svg-jar "user" class="user-avatar" height=60}}
			{{/if}}
			<figcaption>
				<strong class="user-name">{{session.currentUser.name}}</strong>
				{{#if session.currentUser.role}}
					<span class="user-role">{{session.currentUser.role}}</span>
				{{/if}}
			</figcaption>
		</figure>
	{{/if}}

	<ul class="nav-items">
		<li class="nav-item">
			<LinkTo @route="index" @query={{hash viewMode=null}} class="nav-item-link">
				{{svg-jar "list"}}
				<span class="nav-item-text">Tasks</span>
			</LinkTo>
		</li>
		<li class="nav-item">
			<LinkTo @route="index" @query={{hash viewMode="calendar"}} class="nav-item-link">
				{{svg-jar "calendar"}}
				<span class="nav-item-text">Calendar</span>
			</LinkTo>
		</li>
	</ul>
</nav>