<header role="banner">
	<h1 class="logo">
		<LinkTo @route="index" class="logo-link">
			{{svg-jar "todo-logo" height=32 class="logo-icon"}}
			<strong class="logo-text">Todo List</strong>
		</LinkTo>
	</h1>
	<TaskSearch @filter={{filter}} @onSearch={{action (mut filter)}}/>
	<nav class="user-nav">
		<ul class="nav-items" role="menubar">
			<li class="nav-item" role="menuitem">
				<button {{action "addTask"}}>{{svg-jar "add-solid"}}</button>
			</li>
			<li class="nav-item" role="menuitem">
				<LinkTo @route="notifications" class="nav-item-link">{{svg-jar "notifications"}}</LinkTo>
			</li>
			<li class="nav-item" role="menuitem">
				<LinkTo @route="settings" class="nav-item-link">{{svg-jar "cog"}}</LinkTo>
			</li>
		</ul>
	</nav>
</header>

<div class="content-container">
	{{partial "partials/_nav"}}

	<main role="main">
		{{outlet}}
	</main>
</div>