<article class="task-widgets">
	<div class="task-widgets-container">
		<DashboardWidget>
			<TaskProgress @tasks={{this.model}}/>
		</DashboardWidget>

		<DashboardWidget>
			{{#if this.isCalendarMode}}
				<TasksByDay @tasks={{this.model}} @onAddTask={{this.addTask}}/>
			{{else}}
				<TaskTimeline @tasks={{this.model}} @onAddTask={{this.addTask}}/>
			{{/if}}
		</DashboardWidget>
	</div>
</article>

{{outlet}}